* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.6;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 64, 50, 0.8),
      rgba(71, 17, 116, 0.9)
    ),
    url("../images/background.jpg") center/cover no-repeat;
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 100px;
}

.header .header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .header-right i {
  margin-right: 5px;
}

.header .header-right a {
  color: #fff;
  transition: 0.3s ease;
}

.header .header-right a:hover {
  color: purple;
}

/* Main Content Layout */
.main-content {
  max-width: 1100px;
  margin: 200px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 0 40px;
  height: 100%;
}

.main-content form,
.main-content .text-container {
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

.form-group textarea {
  height: 100px;
  resize: none;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  background: #ff4032;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: block;
  transition: 0.3s ease;
}

.btn:hover {
  background: #ff5c4d;
}

.text-container h1 {
  font-size: 50px;
  line-height: 1.2;
  margin: 50px 0 20px;
}

.text-container {
  font-size: 18px;
}

@media (max-width: 768px) {
  .header {
    padding: 30px 10px 10px;
    flex-direction: column;
    gap: 10px;
  }

  .header .header-right {
    flex-direction: column;
    gap: 10px;
  }

  .main-content {
    flex-direction: column-reverse;
    margin: auto;
    padding: 50px;
  }

  .main-content form,
  .main-content .text-container {
    width: 100%;
  }

  .main-content h1 {
    font-size: 40px;
    line-height: 1.4;
    text-align: center;
  }

  .main-content p {
    display: none;
  }
}

@media (max-height: 500px) {
  .main-content {
    margin: 0 auto;
  }

  .main-content h1 {
    font-size: 40px;
  }
}
